<p style="color: green"><%= notice %></p>

<h1>Course memberships</h1>

<div id="course_memberships">
  <% @course_memberships.each do |course_membership| %>
    <%= render course_membership %>
    <p>
      <%= link_to "Show this course membership", [:api, :v1, course_membership] %>
    </p>
  <% end %>
</div>

<%= link_to "New course membership", new_api_v1_course_membership_path %>
